* {
    box-sizing: border-box;
  }
  body{
      font-family:Arial, Helvetica, sans-serif;
      min-width: 800px;
  }
  h1, h2, h3{
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  img{
     max-width: 70px;
     max-height: auto;
  }
  
  .search {
      margin-left: 10%;
      display: block;
  }
  .search-icon{
    position: relative;
    z-index: 1;
    left: -27px;
      padding: 5px;
      margin: 0;
      color: azure;
      width: 25px;
      height: auto;
      border-radius: 15px;
      border: none;
      background-color:rgb(126, 125, 125);
  }
  input {
      width: 500px;
      border-radius: 15px;
      border: none;
      background-color: rgb(227, 227, 227);
      color: rgb(109, 107, 107);
      padding: 7px 10px;
      margin: 5px;
      outline: none;
      /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg); */
      background-repeat: no-repeat;
      /* background-size: 10%;
      background-position: 5px; */
  }
    .header-container{
      margin: 20px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }  
    ul{
        text-decoration: none;
        list-style-type: none;
    }
    li{
      text-decoration: none;
      list-style-type: none;
    }
    a{
        text-decoration: none;
        color: rgb(39, 39, 39);
        list-style-type: none;
    }
    .headings{
      padding: 10px;
      margin: 50px 150px;
      text-align:center;
      justify-content: center;
      border: none;
      border-radius: 15px;
      background-color:rgb(230, 230, 230);
    }
    .login{
        padding: 1rem 0;
        border-radius: 15px;
        border: none;
        background-color: rgb(122 122 122);
        color: rgb(255 255 255);
        padding: 7px 40px;
        outline: none;
    }
    
    /* h2{
      color: rgb(255, 255, 255);
      font-size: 10px;
    } */
    p{
      font-size: 20px;
      color:rgb(74, 74, 74)
    }
    .intro{
        margin: 20px 150px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    button{
      border: none;
      border-radius: 15px;
      background-color: rgb(132, 132, 132);
      padding: 7px 40px;
      margin: 40px;
    }
    .steps li{
        width: 1em;
        height: 1em;
        text-align: center;
        line-height: 2em;
        border-radius: 1em;
        background: rgb(69, 69, 69);
        display: inline-block;
        margin: 0 6em;
        position: relative;
      }
    
    .steps{
        display: flex;
        flex-direction: row;
    }
      
    .steps li::before{
        content: '';
        position: absolute;
        top: 0.5em;
        left: -13em;
        width: 13em;
        height: .1em;
        background: rgb(69, 69, 69);
        z-index: -1;
      }
      
      li:first-child::before {
        display: none;
      }
      
      .active {
        background: rgb(69, 69, 69);
      }
      
      .active ~ li {
        background: rgb(185, 185, 185);
      }
      
      .active ~ li::before {
        background: rgb(185, 185, 185);
      }

      .secondnavbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px 0;
      }
      .backbutton{
        display: flex;
        align-items: center;
      }
      i{
        max-width: 25px;
        max-height: auto;
      }
      .fa-angle-left:before {
        content: "\f104";
        color: black;
      }

      .occupation{
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: space-around;
        justify-items: center;
        align-items: stretch;
        margin: 138px 46px;
        border: none;
        border-radius: 15px;
        background-color: rgb(204, 204, 204);
      }

      h2{
        font-size: 40px;
        width:100%;
        display: flex;
        color: rgb(61, 61, 61);
        padding: 69px 20px;
        border: none;
        border-radius: 15px;
        background-color: rgb(224, 224, 224);
      }

      .types{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

     .types a{
        border: none;
        border-radius: 15px;
        background-color: rgb(107, 107, 107);
        padding: 4px 14px;
        margin: 50px;
      }
      /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 130px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 41px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 4px 20px;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
 
